name: Validate renovate config

on:
  push:
    branches:
      - main
    paths:
      - renovate.json
      - .github/workflows/renovate-config-validator.yml
  pull_request:
    branches:
      - main
    paths:
      - renovate.json
      - .github/workflows/renovate-config-validator.yml

jobs:
  validate:
    name: Validate renovate config
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Validate
        uses: rinchsan/renovate-config-validator@a12a2b98cd4db923c33d1ce407c57afb43f3ff59 # v0.2.0
