name: test

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "v*"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          # renovate: go-version
          go-version: 1.25.6

      - name: Run go tests
        shell: bash
        run: |
          make frontend
          go test ./... -race -covermode=atomic

      # This builds the binary and starts it. If it does not exit within 3 seconds, consider it
      # successful
      - name: Verify binary works
        shell: bash
        run: |
          make build
          timeout 3 ./standalone || code=$?; if [[ $code -ne 124 && $code -ne 0 ]]; then exit $code; fi
