name: test

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "v*"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Set up go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          # renovate: go-version
          go-version: 1.25.6

      - name: Run go tests
        shell: bash
        run: |
          make frontend
          go test ./... -race -covermode=atomic

      # This builds the binary and starts it. If it does not exit within 3 seconds, consider it
      # successful
      - name: Verify binary works
        shell: bash
        run: |
          make build
          timeout 3 ./standalone || code=$?; if [[ $code -ne 124 && $code -ne 0 ]]; then exit $code; fi
